<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
     <!--  
	    <add key ="factory" value="FactoryMethodLib,FactoryMethodLib.Factory.JaugarFactory"/>
	    <add key ="factory" value="FactoryMethodLib,FactoryMethodLib.Factory. AudiFactory"/>
        
         <add key ="factory" value="FactoryMethodLib,FactoryMethodLib.Factory.TeslaFactory"/>
      -->
         <add key ="factory" value="FactoryMethodLib,FactoryMethodLib.Factory.BMWFactory"/>

</appSettings>
</configuration>